body {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  min-width: 350px;
}

h4,
h5,
h6,
a {
  font-family: 'Nunito', sans-serif !important;
  text-transform: uppercase;
  font-weight: bold !important;
}

h6 {
  text-align: center;
  padding-bottom: 15px;
}

h4 {
  padding-bottom: 20px;
  text-align: center !important;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 900 !important;
  color: black;
  text-shadow: 1px 1px 5px #0c0c0c !important;
}

header {
  height: 50%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

nav {
  height: 100% !important;
}

.themeSelect {
  cursor: pointer;
  position: absolute;
  right: 5%;
}

.navegacao-menu {
  align-items: center;
}

#header {
  height: inherit;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  margin-top: 30px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
}

img {
  width: inherit;
  position: relative;
  top: -10%;
}

.container {
  width: 90%;
  margin-top: 2em;
  margin-bottom: 4em;
}

#conteudo {
  padding: 20px 35px 35px;
  border-radius: 10px;
}

section article {
  text-align: justify;
}

#menu {
  padding-left: 40px;
}

#menudropdown ul {
  width: 100%;
  text-align: center;
  margin-top: 0;
  /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%); */
  display: flex;
  flex-direction: column;
}

#header1:hover {
  background-color: rgba(0, 0, 0, 0.274);
}

.photo:hover {
  opacity: 0.9;
}

.menu-content {
  padding-bottom: 30px;
  text-align: center;
}

.frase {
  text-align: center;
  font-style: italic;
  font-size: 0.85em;
  padding: 30px;
}

footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

/* TEMAS */

.light {
  background-color: rgb(255, 255, 255);
  font-weight: bold !important;
  color: #575757;
}

.light nav,
.light #menudropdown {
  background-color: #eeeeee;
}

.light #conteudo {
  background-color: #eeeeee;
}

.light #header {
  background-color: rgba(0, 0, 0, 0.25);
}

.light #header:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.light i {
  color: black;
}

.light h2:hover {
  color: rgb(70, 155, 127);
}

.light h6,
.light h4 {
  text-shadow: 1px 1px 1px #808080 !important;
}

.light footer {
  background-color: #eeeeee;
}

.light a {
  color: black;
  font-weight: bolder;
}

.light a:hover {
  color: rgb(70, 155, 127);
}

.light i:hover {
  color: rgb(70, 155, 127);
}

.light b {
  font-weight: bolder !important;
  color: black;
}

.light h4,
.light h6,
.light footer {
  color: rgb(70, 155, 127);
}

.light header {
  background-image: url('img/pages/h6.jpg');
}

.light .active {
  color: rgb(70, 155, 127) !important;
  text-shadow: 1px 1px 1px #999999 !important;
}

.light .social {
  background-color: rgb(70, 155, 127);
}

.light .social i {
  color: white;
}

.light .social:hover {
  background-color: rgb(45, 110, 89);
}

/* DARK */

.dark header {
  background-image: url('img/pages/h4.jpg');
}

.dark {
  background-color: #222;
  color: white;
}

.dark nav,
.dark #menudropdown {
  background-color: #000000;
}

.dark #conteudo {
  background-color: #2f2f2f;
}

.dark #header {
  background-color: rgba(0, 0, 0, 0.25);
}

.dark #header:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.dark i {
  color: rgb(255, 255, 255);
}

.dark h2:hover {
  color: rgb(207, 123, 84);
}

.dark h6,
.dark h4 {
  text-shadow: 1px 1px 1px #000000 !important;
}

.dark footer {
  background-color: #2f2f2f;
}

.dark a {
  color: white;
}

.dark a:hover {
  color: rgb(207, 123, 84);
}

.dark i:hover {
  color: rgb(243, 171, 138);
}

.dark h4,
.dark h6,
.dark footer {
  color: rgb(243, 171, 138);
}

.dark header {
  background-color: rgb(110, 110, 110);
}

.dark .social {
  background-color: rgb(243, 171, 138);
}

.dark .social i {
  color: #2f2f2f;
}

.dark .social:hover {
  background-color: rgb(207, 123, 84);
}

.dark .active {
  color: rgb(207, 123, 84) !important;
  text-shadow: 1px 1px 1px #000000 !important;
}

/* RESPONSIVIDADE */

@media (max-width: 600px) {
  .navegacao-links {
    display: none;
  }
  .navegacao-menu {
    justify-content: center;
  }

  h2 {
    font-size: xx-large;
  }

  .photo {
    margin-top: 30px;
    width: 200px;
    height: 200px;
  }

  #menu {
    padding-left: 10px;
    margin-top: 20px;
  }

  .themeSelect {
    right: 4%;
  }

  #menudropdown {
    display: none;
  }

  #conteudo {
    margin-bottom: 2em;
  }
}

@media (min-width: 601px) {
  .dropdown-trigger {
    display: none;
  }
  .dropdown-links,
  #menudropdown {
    display: none;
  }
  .navegacao-links {
    width: 90%;
    font-size: 0.5em !important;
    display: flex;
    justify-content: space-around;
  }
  /* .navegacao-links li a {
    padding: 0 2px;
  } */

  .themeSelect {
    right: 1%;
    font-size: 20px !important;
  }

  #menudropdown {
    display: none !important;
  }
}

@media (min-width: 800px) {
  .navegacao-links {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  .container {
    width: 80%;
  }
  /* .navegacao-links li a {
    padding: 2px 10px !important;
  } */
}

@media (min-width: 1900px) {
  .themeSelect {
    right: 20%;
  }
  .navegacao-links {
    width: 50%;
  }
}

.navegacao-menu {
  display: flex;
  justify-content: center;
}

#social {
  padding: 10px 10px;
  display: flex;
  justify-content: space-evenly;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.social {
  /* 
  padding: 5px;
  */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin-right: 5px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social i {
  font-size: 1.3em;
  text-align: center;
}

#achievements section img {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 10px !important;
  /* border: 6px double rgb(184, 182, 182); */
}

#achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#achievements h6 {
  align-self: flex-start;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section a {
  text-transform: none;
}

#contact .social {
  width: 50px;
  height: 50px;
  font-size: 20px !important;
  margin-right: 10px;
}

#contact p i {
  padding-right: 0.5em;
  opacity: 0.5;
  text-align: center;
}

.dark #contact p i {
  text-shadow: 1px 1px 1px #000000 !important;
}

.light #contact p i {
  text-shadow: 1px 1px 1px #6d6d6d !important;
}

.social-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#information li {
  list-style: disc;
  margin-left: 20px;
}

#information h6 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 0px;
}

#projects img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0 !important;

  border-radius: none !important;
}

#projects h6 {
  color: inherit;
}

#projects article {
  margin-bottom: 3.5em;
}

.indicators {
  background-color: #0000006b;
}

.links-proj {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.links-proj i {
  padding-right: 5px;
}

.jsp,
.jsp i {
  color: #efd81d !important;
}

.angular,
.angular i {
  color: #d6002f !important;
}

.react,
.react i {
  color: #00d1f7 !important;
}

.vue,
.vue i {
  color: #3cb27d !important;
}
