* {
  padding: 0;
  margin: 0;
}

a:link {
  color: #cd9653;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited {
  color: #cd9653;
}

a:hover {
  color: #cd965341;
}

html,
body {
  height: 100% !important;
}

body {
  background-size: cover;
  background-attachment: fixed;
  font-family: Abel;
  color: #cd9653;
  background-color: #6a657c;
}

.principal {
  background-color: #00000085;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: calc(100% - 2.5em);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5vh;
}

.contatos {
  margin-bottom: 5vh !important;
}

footer {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #825f3566;
  justify-content: center;
  height: 2.5em;
}

#foto {
  width: 250px;
  height: 250px;
  min-height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #cd9653;
  cursor: pointer;
}

#foto:hover {
  opacity: 0.8;
}

#name {
  display: flex;
  flex-direction: column;
}

.contato div {
  border: 2px solid #cd9653;
  border-radius: 10px;
  padding: 8px;
  margin-top: 12px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 8em;
  justify-content: center;
  background-color: #000000b8;
}

.contato div i {
  padding-right: 5px;
}

.contato div:hover {
  background-color: #cd965341;
  color: white !important;
}

.contato div:hover a {
  color: white !important;
  font-weight: bold;
}

#nome {
  font-family: Pacifico;
  font-size: 4em;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

#nome ~ p {
  color: #f7d7ce;
  font-family: Abel;
  font-size: 1.2em;
  text-align: center;
  text-shadow: #19132f 0.1em 0.1em 0.2em;
}

#bd {
  background-image: url('./img/background/b1.jpg');
}

#bd #foto {
  background-image: url('./img/perfil/soniamarasa.jpg');
}

#night {
  background-image: url('./img/background/11.jpg');
  color: white;
}

#night #foto {
  background-image: url('./img/perfil/1.jpg');
}

#afternoon {
  background-image: url('./img/background/2.jpg');
}

#afternoon #foto {
  background-image: url('./img/perfil/2.jpg');
}

#afternoon .principal {
  background-color: rgba(0, 0, 0, 0.6);
}

#morning {
  background-image: url('./img/background/3-1.jpg');
}

#morning #foto {
  background-image: url('./img/perfil/3.jpg');
}

@media (max-width: 600px) {
  #nome {
    font-size: 2.8rem;
  }

  #nome ~ p {
    font-size: 1rem;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #bd {
    background-image: url('./img/background/b4.jpg') !important;
  }
}

@media (max-width: 370px) {
  #nome {
    font-size: 2.2rem;
  }

  #nome ~ p {
    font-size: 0.8rem;
  }

  #foto {
    width: 180px;
    height: 180px;
    min-height: 180px;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

 
}

#rodape {
  font-size: 0.8em;
}
