* {
  padding: 0;
  margin: 0;
}

a:link {
  color: #daceee;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited {
  color: #daceee;
}

a:hover {
  color: #342b42;
}

html,
body {
  height: 100% !important;
}

body {
  background-size: cover;
  background-attachment: fixed;
  font-family: Abel;
  color: #d09bb5;
  background-color: #6a657c;
}

.principal {
  background-color: rgba(23, 16, 37, 0.62);
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: calc(100% - 2.5em);
}



.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5vh;
}

.contatos {
  margin-bottom: 5vh !important;
}

footer {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(23, 16, 37, 0.9);
  justify-content: center;
  height: 2.5em;
}

#foto {
  width: 250px;
  height: 250px;
  min-height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #948da2;
  cursor: pointer;
}

#foto:hover {
  opacity: 0.8;
}

#name {
  display: flex;
  flex-direction: column;
}

.contato div {
  border: 2px solid rgb(208,155,181);
  border-radius: 10px;
  padding: 8px;
  margin-top: 12px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 11em;
  justify-content: center;
  background-color: rgba(32, 28,  56, 0.7);
}

.contato div i {
  padding-right: 5px;
}

.contato div:hover {
  background-color: rgba(208,155,181, 0.349);
  color: white !important;
}

.contato div:hover  a{
  color: white !important;
  font-weight: bold;
}

#nome {
  font-family: Pacifico;
  font-size: 4em;
  text-align: center;
  text-shadow: #19132f 0em 0em 0.1em;
}

#nome ~ p {
  color: #e3dbf1;
  font-family: Abel;
  font-size: 1.3em;
  text-align: center;
  text-shadow: #19132f 0.1em 0.1em 0.2em;
}


#bd {
  background-image: url('./img/background/b1.jpg');
  
}


#bd #foto {
  background-image: url('./img/perfil/soniamarasa.jpg');
}

#bd {
  background-image: url('./img/background/b1.jpg');
}

#bd #foto {
  background-image: url('./img/perfil/soniamarasa.jpg');
}

#night {
  background-image: url('./img/background/11.jpg');
  color: white;
}

#night #foto {
  background-image: url('./img/perfil/1.jpg');
}

#afternoon {
  background-image: url('./img/background/2.jpg');
}

#afternoon #foto {
  background-image: url('./img/perfil/2.jpg');
}

#afternoon .principal {
  background-color: rgba(0, 0, 0, 0.6);
}

#morning {
  background-image: url('./img/background/3-1.jpg');
}

#morning #foto {
  background-image: url('./img/perfil/3.jpg');
}

@media (max-width: 600px) {
  #nome {
    font-size: 2.8em;
  }

  #nome ~ p {
    font-size: 1.5em;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 370px) {
  #nome {
    font-size: 2.2em;
  }

  #nome ~ p {
    font-size: 1em;
  }

  #foto {
    width: 180px;
    height: 180px;
    min-height: 180px;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

#rodape {
  font-size: 0.8em;
}
